@import 'https://kbsb.app/assets/fonts/ibm_plex_sans/font_ibm_plex_sans.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: 'IBM Plex Sans', sans-serif; /* weights: 300 400 600*/
	font-feature-settings: 'kern' 1;
	font-kerning: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
